<!DOCTYPE html>
<html>
<head>
 <% include partials/head -%>
</head>
<body>
  <% include partials/nav -%>

    <div class="row">
      <div class="container">
        <div class="col card-panel blue-grey lighten-5">
          <h4>Submit a report</h4>
          <form action="<%=exits.create %>" method="post" id="subwayReportForm"  >
            <select class="browser-default " name="line">
              <option value="" selected>Choose your line</option>
              <% lines.forEach( function(line){ %>
              <option value="<%=line.key%>" >(<%=line.line%>) <%=line.desc%></option>
              <% }) %>
            </select>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
                <label for="textarea1">Description</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <button class="waves-effect waves-light btn-large" type="submit">Report
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

  <% include partials/footer %>
  <% include partials/jslibs %>
</body>
</html>
