<!DOCTYPE html>
<html>
<head>
 <% include partials/head -%>
</head>
<body>
  <% include partials/nav -%>

    <div class="row">
      <div class="container">
        <h4>All Reports</h4>

      </div>
    </div>

  <% include partials/footer %>
  <% include partials/jslibs %>
</body>
</html>
